<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Linkedin login using node and passport</title>
        <link type="text/css" rel="stylesheet" href="https://colorlib.com/etc/lf/Login_v5/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link type="text/css" rel="stylesheet" href="/css/utils.css">
    </head>
    <body>
        <div class="content">
            <div class="content-login">
                <div class="box-login">
                    <form class="box-form validate-form flex-sb flex-w">
                        <a href="/auth/linkedin" class="btn-linkedin m-b-20">
                            <i class="fa fa-linkedin"></i>
                            Linkedin
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>